<div class="navbar">
  <div class="logo">CMS Admin</div>
  <ul>
      <li><a href="/">Posts</a></li>
      <li><a href="/myblogs">MyBlogs</a></li>
      <li><a href="/createBlog">Add New</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Log IN</a></li>
      
  </ul>
</div>