<div class="navbar">
  <div class="logo">
  </div>
  <ul>
   <% if(currentUser){ %>
      <li><a href="/myblogs">MyBlogs</a></li>
      <li><a href="/createBlog">Add New</a></li>
      <li><a href="/">Posts</a></li>
      <li><a href="/logout">Log out</a></li>

      <% }else{ %>
      <li><a href="/register">Sign Up</a></li>
      <li><a href="/">Posts</a></li>
      <li><a href="/login">Log IN</a></li>
  <% }%>
  </ul>
</div>