<div class="navbar">
  <div class="logo">CMS Admin</div>
  <ul>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Posts</a></li>
      <li><a href="/createBlog">Add New</a></li>
      <li><a href="#">Logout</a></li>
  </ul>
</div>